{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain hiking"/>
            <div class="posts__content">
                <h3>Mountain Hiking</h3>
                <p>
                    There is nothing like the views when you are hiking in the mountains!
                    And I wasn't even prepared for what happened when I was enjoying the view
                </p>
            </div>
        </a>
    </article>
</li>