{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block title%} My Blog {%endblock%}

{% block content %}
    
    
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/pfp.jpg" %}" alt="Daksh - The author of the blog"/>
            <h2>DAKSH'S BLOG</h2>
        </header>

        <p>
            Hello, I am Daksh and I love to blog about tech and the world!
        </p>
    </section>
    
    <section id="latest-posts">
        <h2>My latests thoughts</h2>
        <ul>
            {% include "blog/includes/post.html"%}

        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love programming. I love to help others. I enjoy exploring new technologies in general.</p>
    </section>
{% endblock %}
